@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1, h2, h3, h4, h5, h6 {
    @apply text-black dark:text-zinc-50;
  }

  p {
    @apply text-gray-600 dark:text-zinc-400;
  }
}